<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
 Oracle
 table name  PATROL_INFO
 remarks     巡察信息
 author      JYY
-->
<mapper namespace="com.hengtianyi.dims.service.dao.PatrolInfoDao">


  <!-- doc 查询条件，根据实际情况，对where条件进行删减 -->
  <sql id="sql_where">
    <where>
      <if test="id !=null and id !=''">
        and "ID" = #{id,jdbcType=CHAR}
      </if>
      <if test="userId !=null and userId !=''">
        and "USER_ID" = #{userId,jdbcType=CHAR}
      </if>
      <if test="patrolName !=null and patrolName !=''">
        and "PATROL_NAME" like ('%' ||
        replace(replace(#{patrolName,jdbcType=VARCHAR},'%','\%'),'_','\_') || '%') escape '\'
      </if>
      <if test="patrolUnit !=null and patrolUnit !=''">
        and "PATROL_UNIT" like ('%' ||
        replace(replace(#{patrolUnit,jdbcType=VARCHAR},'%','\%'),'_','\_') || '%') escape '\'
      </if>

      <if test="endTime1!=null and endTime1 !=''"  >
        and "START_TIME" &lt;= to_date(#{endTime1,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
      </if>
      <if test="startTime1!=null and startTime1 !=''"  >
        and "END_TIME" >= to_date(#{startTime1,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
      </if>
    </where>
  </sql>

  <!-- 字段与实体的映射 -->
  <resultMap id="BaseResultMap" type="com.hengtianyi.dims.service.entity.PatrolInfoEntity">
    <id column="ID" property="id" jdbcType="CHAR"/>
    <result column="USER_ID" property="userId" jdbcType="CHAR"/>
    <result column="PATROL_NAME" property="patrolName" jdbcType="VARCHAR"/>
    <result column="PATROL_UNIT" property="patrolUnit" jdbcType="VARCHAR"/>
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP"/>
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP"/>
    <result column="IMAGE_URL" property="imageUrl" jdbcType="VARCHAR"/>
  </resultMap>

  <!-- 字段集合 -->
  <sql id="Base_Column_List">
      "ID" , "USER_ID" , "PATROL_NAME" , "PATROL_UNIT" , "CREATE_TIME" , "START_TIME" , "END_TIME" , "IMAGE_URL"
  </sql>

  <!-- 根据主键查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from "PATROL_INFO" where "ID" = #{id,jdbcType=CHAR} and rownum &lt;= 1
  </select>

  <!-- 进入列表查询，调用统一方法。根据条件查询，总数 -->
  <select id="searchDataCount" resultType="java.lang.Integer"
          parameterType="com.hengtianyi.dims.service.entity.PatrolInfoEntity">
    select count(1) from "PATROL_INFO"
    <include refid="sql_where"/>
  </select>

  <!-- 根据条件查询，分页 ，查询列表进入-->
  <select id="searchData" resultMap="BaseResultMap"
          parameterType="com.hengtianyi.dims.service.entity.PatrolInfoEntity">
    <choose>
      <when test="orderSql !=''">
        select
        <include refid="Base_Column_List"/>
        from (select ROWNUM as "ROW_ID",
        <include refid="Base_Column_List"/>
        from (select
        <include refid="Base_Column_List"/>
        from "PATROL_INFO"
        <include refid="sql_where"/>
        order by ${orderSql})
        where ROWNUM &lt;= #{pager.end}) "PAGINATION"
        where "PAGINATION"."ROW_ID" &gt;= #{pager.first}
      </when>
      <otherwise>
        select
        <include refid="Base_Column_List"/>
        from (select ROWNUM as "ROW_ID",
        <include refid="Base_Column_List"/>
        from "PATROL_INFO"
        <include refid="sql_where"/>
        and ROWNUM &lt;= #{pager.end}) "PAGINATION"
        where "PAGINATION"."ROW_ID" &gt;= #{pager.first}
      </otherwise>
    </choose>
  </select>

  <!-- 根据条件查询，全部 -->
  <select id="searchAllData" resultMap="BaseResultMap"
          parameterType="com.hengtianyi.dims.service.entity.PatrolInfoEntity">
    select
    <include refid="Base_Column_List"/>
    from "PATROL_INFO"
    <include refid="sql_where"/>
    <if test="orderSql !='' ">
      order by ${orderSql}
    </if>
  </select>

  <!-- 单条删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from "PATROL_INFO" where "ID" = #{id,jdbcType=CHAR}
  </delete>

  <!-- 多条删除 -->
  <delete id="deleteByIds" parameterType="java.util.List">
    delete from "PATROL_INFO" where "ID" in
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <!-- 选择性删除，根据实际情况，对where条件进行删减 -->
  <delete id="deleteSelective" parameterType="com.hengtianyi.dims.service.entity.PatrolInfoEntity">
    delete from "PATROL_INFO"
    <include refid="sql_where"/>
  </delete>

  <!-- 添加 -->
  <insert id="insert" parameterType="com.hengtianyi.dims.service.entity.PatrolInfoEntity">
    insert into "PATROL_INFO" ("ID" , "USER_ID" , "PATROL_NAME" , "PATROL_UNIT" , "CREATE_TIME" , "START_TIME" , "END_TIME", "IMAGE_URL") values (#{id,jdbcType=CHAR} , #{userId,jdbcType=CHAR} , #{patrolName,jdbcType=VARCHAR} , #{patrolUnit,jdbcType=VARCHAR} , #{createTime,jdbcType=TIMESTAMP} , #{startTime,jdbcType=TIMESTAMP} , #{endTime,jdbcType=TIMESTAMP}, #{imageUrl,jdbcType=VARCHAR})
  </insert>

  <!-- 选择性添加 -->
  <insert id="insertSelective" parameterType="com.hengtianyi.dims.service.entity.PatrolInfoEntity">
    insert into "PATROL_INFO"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id !=''">
        "ID",
      </if>
      <if test="userId != null and userId !=''">
        "USER_ID",
      </if>
      <if test="patrolName != null and patrolName !=''">
        "PATROL_NAME",
      </if>
      <if test="patrolUnit != null and patrolUnit !=''">
        "PATROL_UNIT",
      </if>
      <if test="createTime != null">
        "CREATE_TIME",
      </if>
      <if test="startTime != null">
        "START_TIME",
      </if>
      <if test="endTime != null">
        "END_TIME",
      </if>
      <if test="imageUrl != null and imageUrl !=''">
        "IMAGE_URL",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id !=''">
        #{id,jdbcType=CHAR},
      </if>
      <if test="userId != null and userId !=''">
        #{userId,jdbcType=CHAR},
      </if>
      <if test="patrolName != null and patrolName !=''">
        #{patrolName,jdbcType=VARCHAR},
      </if>
      <if test="patrolUnit != null and patrolUnit !=''">
        #{patrolUnit,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="imageUrl != null and imageUrl !=''">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <!-- 全部更新 -->
  <update id="updateByPrimaryKey"
          parameterType="com.hengtianyi.dims.service.entity.PatrolInfoEntity">
    update "PATROL_INFO" set
      "USER_ID" = #{userId,jdbcType=CHAR} , "PATROL_NAME" = #{patrolName,jdbcType=VARCHAR} , "PATROL_UNIT" = #{patrolUnit,jdbcType=VARCHAR} , "CREATE_TIME" = #{createTime,jdbcType=TIMESTAMP} , "START_TIME" = #{startTime,jdbcType=TIMESTAMP} , "END_TIME" = #{endTime,jdbcType=TIMESTAMP} , "IMAGE_URL" = #{imageUrl,jdbcType=VARCHAR}
    where "ID" = #{id,jdbcType=CHAR}
  </update>

  <!-- 选择性更新 -->
  <update id="updateByPrimaryKeySelective"
          parameterType="com.hengtianyi.dims.service.entity.PatrolInfoEntity">
    update "PATROL_INFO"
    <set>
      <if test="userId != null">
        "USER_ID" = #{userId,jdbcType=CHAR},
      </if>
      <if test="patrolName != null">
        "PATROL_NAME" = #{patrolName,jdbcType=VARCHAR},
      </if>
      <if test="patrolUnit != null">
        "PATROL_UNIT" = #{patrolUnit,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        "IMAGE_URL" = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        "CREATE_TIME" = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        "START_TIME" = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        "END_TIME" = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where "ID" = #{id,jdbcType=CHAR}
  </update>

  <!--分页-->
  <select id="pagelist" resultMap="BaseResultMap"
          parameterType="com.hengtianyi.dims.service.dto.QueryDto">
    select
    p."ID" , p."USER_ID" , p."PATROL_NAME" , p."PATROL_UNIT" , p."CREATE_TIME" , p."START_TIME" ,
    p."END_TIME",p."IMAGE_URL"
    from (select ROWNUM as "ROW_ID",
    <include refid="Base_Column_List"/>
    from (select t.* from "PATROL_INFO" t
    <include refid="page_where"/>
    order by t.create_time desc)
    where ROWNUM &lt;= #{dto.end}) p
    where p."ROW_ID" &gt;= #{dto.first}
  </select>

  <select id="pagecount" resultType="java.lang.Integer"
          parameterType="com.hengtianyi.dims.service.dto.QueryDto">
    select count(1) from "PATROL_INFO" t
    <include refid="page_where"/>
  </select>

  <sql id="page_where">
    <where>
      <!--这里的条件是要再添加的-->
      <if test="dto.startTime1!=null and dto.startTime1 !=''">
        and t."END_TIME" >= to_date(#{dto.startTime1,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
      </if>
      <if test="dto.endTime1!=null and dto.endTime1 !=''">
        and t."START_TIME" &lt;= to_date(#{dto.endTime1,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
      </if>

    </where>
  </sql>

</mapper>
