<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
 Oracle
 table name  CLUE_FLOW
 remarks     线索流程
 author      LY
-->
<mapper namespace="com.hengtianyi.dims.service.dao.RegionDao">


  <!-- 字段与实体的映射 -->
  <resultMap id="BaseResultMap" type="com.hengtianyi.dims.service.entity.Region">
    <id column="PCODE" property="pcode" jdbcType="VARCHAR"/>
    <result column="PNAME" property="pname" jdbcType="VARCHAR"/>
    <result column="PLEVEL" property="plevel" jdbcType="VARCHAR"/>
    <result column="PARENT" property="parent" jdbcType="VARCHAR"/>
    <result column="VALID" property="valid" jdbcType="VARCHAR"/>
    <result column="ID" property="id" jdbcType="CHAR"/>
  </resultMap>

  <!-- 字段集合 -->
  <sql id="Base_Column_List">
      "ID","PCODE" , "PNAME" , "PLEVEL" , "PARENT" , "VALID"
  </sql>

  <sql id="sql_where">
    <where>
      <if test="pname !=null and pname !=''">
        and "PNAME" = #{pname,jdbcType=VARCHAR}
      </if>
      <if test="plevel !=null and plevel !=''">
        and "PLEVEL" = #{plevel,jdbcType=VARCHAR}
      </if>
      <if test="valid !=null and valid !=''">
        and "VALID" = #{valid,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>

  <!-- 根据主键查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from "YQFK_PCX" where "ID" = #{id,jdbcType=CHAR} and rownum &lt;= 1
  </select>

  <!-- 根据条件查询，总数 -->
  <select id="searchDataCount" resultType="java.lang.Integer"
          parameterType="com.hengtianyi.dims.service.entity.Region">
    select count(1) from "YQFK_PCX"
    <include refid="sql_where"/>
  </select>

  <!-- 根据条件查询，分页 -->
  <select id="searchData" resultMap="BaseResultMap"
          parameterType="com.hengtianyi.dims.service.entity.Region">
    <choose>
      <when test="orderSql !=''">
        select
        <include refid="Base_Column_List"/>
        from (select ROWNUM as "ROW_ID",
        <include refid="Base_Column_List"/>
        from (select
        <include refid="Base_Column_List"/>
        from "YQFK_PCX"
        <include refid="sql_where"/>
        order by ${orderSql})
        where ROWNUM &lt;= #{pager.end}) "PAGINATION"
        where "PAGINATION"."ROW_ID" &gt;= #{pager.first}
      </when>
      <otherwise>
        select
        <include refid="Base_Column_List"/>
        from (select ROWNUM as "ROW_ID",
        <include refid="Base_Column_List"/>
        from "YQFK_PCX"
        <include refid="sql_where"/>
        and ROWNUM &lt;= #{pager.end}) "PAGINATION"
        where "PAGINATION"."ROW_ID" &gt;= #{pager.first}
      </otherwise>
    </choose>
  </select>

  <!-- 根据条件查询，全部 -->
  <select id="searchAllData" resultMap="BaseResultMap"
          parameterType="com.hengtianyi.dims.service.entity.Region">
    select
    <include refid="Base_Column_List"/>
    from "YQFK_PCX"
    <include refid="sql_where"/>
    <if test="orderSql !='' ">
      order by ${orderSql}
    </if>
  </select>

  <select id="getDataById" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
     t."ID", t."PCODE" , t."PNAME" , t."PLEVEL" , t."PARENT" , t."VALID"
    from "YQFK_PCX" t where t."ID"=#{id,jdbcType=VARCHAR}

  </select>
  <!-- 全部更新 -->
  <update id="updateByPrimaryKey"
          parameterType="com.hengtianyi.dims.service.entity.Region">
    update "YQFK_PCX" set
      "VALID" = #{vaid,jdbcType=VARCHAR}  /*, "CREATE_TIME" = #{createTime,jdbcType=TIMESTAMP}*/
    where "ID" = #{id,jdbcType=CHAR}
  </update>

  <!-- 选择性更新 -->
  <update id="updateByPrimaryKeySelective"
          parameterType="com.hengtianyi.dims.service.entity.Region">
    update "YQFK_PCX"
    <set>
      <if test="name != null">
        "VALID" = #{vaid,jdbcType=VARCHAR},
      </if>
    </set>
    where "ID" = #{id,jdbcType=CHAR}
  </update>



  <select id="getProvince" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    t."ID", t."PCODE" , t."PNAME" , t."PLEVEL" , t."PARENT" , t."VALID"
    from "YQFK_PCX" t where t."PARENT"=0 and t."PLEVEL"=1

  </select>

  <select id="getCity" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    t."ID", t."PCODE" , t."PNAME" , t."PLEVEL" , t."PARENT" , t."VALID"
    from "YQFK_PCX" t  where t."PARENT"=#{parent,jdbcType=VARCHAR} and t."PLEVEL"=2

  </select>

  <select id="getCounty" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    t."ID", t."PCODE" , t."PNAME" , t."PLEVEL" , t."PARENT" , t."VALID"
    from "YQFK_PCX" t where t."PARENT"=#{parent,jdbcType=VARCHAR} and t."PLEVEL"=3

  </select>

  <select id="findByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
     t."ID", t."PCODE" , t."PNAME" , t."PLEVEL" , t."PARENT" , t."VALID"
    from "YQFK_PCX" t where t."PCODE"=#{pcode,jdbcType=VARCHAR}

  </select>








  <!--  &lt;!&ndash; 单条删除 &ndash;&gt;-->
  <!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">-->
  <!--    delete from "YQFK_PCX" where "ID" = #{id,jdbcType=CHAR}-->
  <!--  </delete>-->

  <!--  &lt;!&ndash; 多条删除 &ndash;&gt;-->
  <!--  <delete id="deleteByIds" parameterType="java.util.List">-->
  <!--    delete from "YQFK_PCX" where "ID" in-->
  <!--    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">-->
  <!--      #{item}-->
  <!--    </foreach>-->
  <!--  </delete>-->

  <!--  &lt;!&ndash; 选择性删除，根据实际情况，对where条件进行删减 &ndash;&gt;-->
  <!--  <delete id="deleteSelective"-->
  <!--          parameterType="com.hengtianyi.dims.service.entity.Region">-->
  <!--    delete from "YQFK_PCX"-->
  <!--    <include refid="sql_where"/>-->
  <!--  </delete>-->

  <!--  &lt;!&ndash; 添加 &ndash;&gt;-->
  <!--  <insert id="insert" parameterType="com.hengtianyi.dims.service.entity.Region">-->
  <!--    insert into "YQFK_PCX" ("ID" , "NAME" , "SEX", "AGE") values (#{id,jdbcType=CHAR} , #{name,jdbcType=VARCHAR} , #{sex,jdbcType=VARCHAR},#{age,jdbcType=VARCHAR})-->
  <!--  </insert>-->

  <!--  &lt;!&ndash; 选择性添加 &ndash;&gt;-->
  <!--  <insert id="insertSelective"-->
  <!--          parameterType="com.hengtianyi.dims.service.entity.Region">-->
  <!--    insert into "YQFK_PCX"-->
  <!--    <trim prefix="(" suffix=")" suffixOverrides=",">-->
  <!--      <if test="id != null and id !=''">-->
  <!--        "ID",-->
  <!--      </if>-->
  <!--      <if test="name != null and name !=''">-->
  <!--        "NAME",-->
  <!--      </if>-->
  <!--      <if test="sex != null and sex !=''">-->
  <!--        "SEX",-->
  <!--      </if>-->
  <!--      <if test="age != null and age !=''">-->
  <!--        "AGE",-->
  <!--      </if>-->
  <!--      <if test="card != null and card !=''">-->
  <!--        "CARD",-->
  <!--      </if>-->
  <!--    </trim>-->
  <!--    <trim prefix="values (" suffix=")" suffixOverrides=",">-->
  <!--      <if test="id != null and id !=''">-->
  <!--        #{id,jdbcType=CHAR},-->
  <!--      </if>-->
  <!--      <if test="name != null and name !=''">-->
  <!--        #{name,jdbcType=VARCHAR},-->
  <!--      </if>-->
  <!--      <if test="sex != null and sex !=''">-->
  <!--        #{sex,jdbcType=VARCHAR},-->
  <!--      </if>-->
  <!--      <if test="age != null and age !=''">-->
  <!--        #{age,jdbcType=VARCHAR},-->
  <!--      </if>-->
  <!--      <if test="card != null and card !=''">-->
  <!--        #{card,jdbcType=VARCHAR},-->
  <!--      </if>-->
  <!--    </trim>-->
  <!--  </insert>-->
</mapper>
