<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hengtianyi.dims.service.dao.RegionDao">


  <!-- 字段与实体的映射 -->
  <resultMap id="BaseResultMap" type="com.hengtianyi.dims.service.entity.Region">
    <id column="PCODE" property="pcode" jdbcType="VARCHAR"/>
    <result column="PNAME" property="pname" jdbcType="VARCHAR"/>
    <result column="FULLNAME" property="fullname" jdbcType="VARCHAR"/>
    <result column="PLEVEL" property="plevel" jdbcType="VARCHAR"/>
    <result column="PARENT" property="parent" jdbcType="VARCHAR"/>
    <result column="VALID" property="valid" jdbcType="VARCHAR"/>
    <result column="ID" property="id" jdbcType="CHAR"/>
  </resultMap>

  <!-- 字段集合 -->
  <sql id="Base_Column_List">
      "ID","PCODE" , "PNAME" , "FULLNAME", "PLEVEL" , "PARENT" , "VALID"
  </sql>

  <sql id="sql_where">
    <where>
      <if test="fullname !=null and fullname !=''">
        and "FULLNAME" like concat(concat('%', #{fullname}), '%')
      </if>

      <if test="plevel !=null and plevel !=''">
        and "PLEVEL" = #{plevel,jdbcType=VARCHAR}
      </if>
      <if test="valid !=null and valid !=''">
        and "VALID" = #{valid,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>

  <!-- 根据主键查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from "YQFK_PCX" where "ID" = #{id,jdbcType=CHAR} and rownum &lt;= 1
  </select>

  <!-- 根据条件查询，总数 -->
  <select id="searchDataCount" resultType="java.lang.Integer"
          parameterType="com.hengtianyi.dims.service.entity.Region">
    select count(1) from "YQFK_PCX"
    <include refid="sql_where"/>
  </select>

  <!-- 根据条件查询，分页 -->
  <select id="searchData" resultMap="BaseResultMap"
          parameterType="com.hengtianyi.dims.service.entity.Region">
    <choose>
      <when test="orderSql !=''">
        select
        <include refid="Base_Column_List"/>
        from (select ROWNUM as "ROW_ID",
        <include refid="Base_Column_List"/>
        from (select
        <include refid="Base_Column_List"/>
        from "YQFK_PCX"
        <include refid="sql_where"/>
        order by ${orderSql})
        where ROWNUM &lt;= #{pager.end}) "PAGINATION"
        where "PAGINATION"."ROW_ID" &gt;= #{pager.first}
      </when>
      <otherwise>
        select
        <include refid="Base_Column_List"/>
        from (select ROWNUM as "ROW_ID",
        <include refid="Base_Column_List"/>
        from "YQFK_PCX"
        <include refid="sql_where"/>
        and ROWNUM &lt;= #{pager.end}) "PAGINATION"
        where "PAGINATION"."ROW_ID" &gt;= #{pager.first}
      </otherwise>
    </choose>
  </select>

  <!-- 根据条件查询，全部 -->
  <select id="searchAllData" resultMap="BaseResultMap"
          parameterType="com.hengtianyi.dims.service.entity.Region">
    select
    <include refid="Base_Column_List"/>
    from "YQFK_PCX"
    <include refid="sql_where"/>
    <if test="orderSql !='' ">
      order by ${orderSql}
    </if>
  </select>

  <select id="getDataById" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
     t."ID", t."PCODE" , t."PNAME" , t."FULLNAME" , t."PLEVEL" , t."PARENT" , t."VALID"
    from "YQFK_PCX" t where t."ID"=#{id,jdbcType=VARCHAR}

  </select>
  <!-- 全部更新 -->
  <update id="updateByPrimaryKey"
          parameterType="com.hengtianyi.dims.service.entity.Region">
    update "YQFK_PCX" set
      "VALID" = #{vaid,jdbcType=VARCHAR}
    where "ID" = #{id,jdbcType=CHAR}
  </update>

  <!-- 选择性更新 -->
  <update id="updateByPrimaryKeySelective"
          parameterType="com.hengtianyi.dims.service.entity.Region">
    update "YQFK_PCX"
    <set>
      <if test="valid != null">
        "VALID" = #{valid,jdbcType=VARCHAR},
      </if>
    </set>
    where "ID" = #{id,jdbcType=CHAR}
  </update>



  <select id="getProvince" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    t."ID", t."PCODE" , t."PNAME" ,t."FULLNAME" , t."PLEVEL" , t."PARENT" , t."VALID"
    from "YQFK_PCX" t where t."PARENT"=0 and t."PLEVEL"=1

  </select>

  <select id="getCity" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    t."ID", t."PCODE" , t."PNAME" ,t."FULLNAME" , t."PLEVEL" , t."PARENT" , t."VALID"
    from "YQFK_PCX" t  where t."PARENT"=#{parent,jdbcType=VARCHAR} and t."PLEVEL"=2

  </select>

  <select id="getCounty" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    t."ID", t."PCODE" , t."PNAME" , t."FULLNAME" ,  t."PLEVEL" , t."PARENT" , t."VALID"
    from "YQFK_PCX" t where t."PARENT"=#{parent,jdbcType=VARCHAR} and t."PLEVEL"=3

  </select>

  <select id="findByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
     t."ID", t."PCODE" , t."PNAME" ,t."FULLNAME" , t."PLEVEL" , t."PARENT" , t."VALID"
    from "YQFK_PCX" t where t."PCODE"=#{pcode,jdbcType=VARCHAR}

  </select>

  <select id="getListByParent" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    t."ID", t."PCODE" , t."PNAME" ,t."FULLNAME" , t."PLEVEL" , t."PARENT" , t."VALID"
    from "YQFK_PCX" t where t."PARENT"=#{parent,jdbcType=VARCHAR}

  </select>

</mapper>
