<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
 Oracle
 table name  TASK_INFO
 remarks     
 author      LY
-->
<mapper namespace="com.hengtianyi.dims.service.dao.TaskInfoDao">


  <!-- doc 查询条件，根据实际情况，对where条件进行删减 -->
  <sql id="sql_where">
    <where>
      <if test="id !=null and id !=''">
        and "ID" = #{id,jdbcType=CHAR}
      </if>
      <if test="userId !=null and userId !=''">
        and "USER_ID" = #{userId,jdbcType=CHAR}
      </if>
      <if test="roleId !=null and roleId !=''">
        and "ROLE_ID" = #{roleId,jdbcType=DECIMAL}
      </if>
      <if test="createTime !=null and createTime !=''">
        and "CREATE_TIME" = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="state !=null or state == 0">
        <choose>
          <when test="state==0">
            and ("STATE" = 0 or "STATE" = 3)
          </when>
          <otherwise>
            and "STATE" = #{state,jdbcType=DECIMAL}
          </otherwise>
        </choose>
      </if>
    </where>
  </sql>

  <!-- 字段与实体的映射 -->
  <resultMap id="BaseResultMap" type="com.hengtianyi.dims.service.entity.TaskInfoEntity">
    <id column="ID" property="id" jdbcType="CHAR"/>
    <result column="USER_ID" property="userId" jdbcType="CHAR"/>
    <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL"/>
    <result column="CONTENT" property="content" jdbcType="VARCHAR"/>
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="STATE" property="state" jdbcType="DECIMAL"/>
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
  </resultMap>

  <!-- 字段集合 -->
  <sql id="Base_Column_List">
      "ID" , "USER_ID" , "ROLE_ID" , "CONTENT" , "CREATE_TIME" , "STATE"
  </sql>

  <!-- 根据主键查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from "TASK_INFO" where "ID" = #{id,jdbcType=CHAR} and rownum &lt;= 1
  </select>

  <!-- 根据条件查询，总数 -->
  <select id="searchDataCount" resultType="java.lang.Integer"
    parameterType="com.hengtianyi.dims.service.entity.TaskInfoEntity">
    select count(1) from "TASK_INFO"
    <include refid="sql_where"/>
  </select>

  <!-- 根据条件查询，分页 -->
  <select id="searchData" resultMap="BaseResultMap"
    parameterType="com.hengtianyi.dims.service.entity.TaskInfoEntity">
    <choose>
      <when test="orderSql !=''">
        select
        <include refid="Base_Column_List"/>
        from (select ROWNUM as "ROW_ID",
        <include refid="Base_Column_List"/>
        from (select
        <include refid="Base_Column_List"/>
        from "TASK_INFO"
        <include refid="sql_where"/>
        order by ${orderSql})
        where ROWNUM &lt;= #{pager.end}) "PAGINATION"
        where "PAGINATION"."ROW_ID" &gt;= #{pager.first}
      </when>
      <otherwise>
        select
        <include refid="Base_Column_List"/>
        from (select ROWNUM as "ROW_ID",
        <include refid="Base_Column_List"/>
        from "TASK_INFO"
        <include refid="sql_where"/>
        and ROWNUM &lt;= #{pager.end}) "PAGINATION"
        where "PAGINATION"."ROW_ID" &gt;= #{pager.first}
      </otherwise>
    </choose>
  </select>

  <!-- 根据条件查询，全部 -->
  <select id="searchAllData" resultMap="BaseResultMap"
    parameterType="com.hengtianyi.dims.service.entity.TaskInfoEntity">
    select
    <include refid="Base_Column_List"/>
    from "TASK_INFO"
    <include refid="sql_where"/>
    <if test="orderSql !='' ">
      order by ${orderSql}
    </if>
  </select>

  <!-- 单条删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from "TASK_INFO" where "ID" = #{id,jdbcType=CHAR}
  </delete>

  <!-- 多条删除 -->
  <delete id="deleteByIds" parameterType="java.util.List">
    delete from "TASK_INFO" where "ID" in
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <!-- 选择性删除，根据实际情况，对where条件进行删减 -->
  <delete id="deleteSelective" parameterType="com.hengtianyi.dims.service.entity.TaskInfoEntity">
    delete from "TASK_INFO"
    <include refid="sql_where"/>
  </delete>

  <!-- 添加 -->
  <insert id="insert" parameterType="com.hengtianyi.dims.service.entity.TaskInfoEntity">
    insert into "TASK_INFO" ("ID" , "USER_ID" , "ROLE_ID" , "CONTENT" , "CREATE_TIME" , "STATE") values (#{id,jdbcType=CHAR} , #{userId,jdbcType=CHAR} , #{roleId,jdbcType=DECIMAL} , #{content,jdbcType=VARCHAR} , #{createTime,jdbcType=TIMESTAMP} , #{state,jdbcType=DECIMAL})
  </insert>

  <!-- 选择性添加 -->
  <insert id="insertSelective" parameterType="com.hengtianyi.dims.service.entity.TaskInfoEntity">
    insert into "TASK_INFO"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id !=''">
        "ID",
      </if>
      <if test="userId != null and userId !=''">
        "USER_ID",
      </if>
      <if test="roleId != null or roleId == 0">
        "ROLE_ID",
      </if>
      <if test="content != null and content !=''">
        "CONTENT",
      </if>
      <if test="createTime != null">
        "CREATE_TIME",
      </if>
      <if test="state != null or state == 0">
        "STATE",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id !=''">
        #{id,jdbcType=CHAR},
      </if>
      <if test="userId != null and userId !=''">
        #{userId,jdbcType=CHAR},
      </if>
      <if test="roleId != null or roleId == 0">
        #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="content != null and content !=''">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null or state == 0">
        #{state,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>


  <!-- 全部更新 -->
  <update id="updateByPrimaryKey" parameterType="com.hengtianyi.dims.service.entity.TaskInfoEntity">
    update "TASK_INFO" set
      "USER_ID" = #{userId,jdbcType=CHAR} , "ROLE_ID" = #{roleId,jdbcType=DECIMAL} , "CONTENT" = #{content,jdbcType=VARCHAR} , "CREATE_TIME" = #{createTime,jdbcType=TIMESTAMP} , "STATE" = #{state,jdbcType=DECIMAL}
    where "ID" = #{id,jdbcType=CHAR}
  </update>

  <!-- 选择性更新 -->
  <update id="updateByPrimaryKeySelective"
    parameterType="com.hengtianyi.dims.service.entity.TaskInfoEntity">
    update "TASK_INFO"
    <set>
      <if test="userId != null">
        "USER_ID" = #{userId,jdbcType=CHAR},
      </if>
      <if test="roleId != null or roleId == 0">
        "ROLE_ID" = #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="content != null">
        "CONTENT" = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        "CREATE_TIME" = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null or state == 0">
        "STATE" = #{state,jdbcType=DECIMAL},
      </if>
    </set>
    where "ID" = #{id,jdbcType=CHAR}
  </update>

  <!--分页-->
  <select id="pagelist" resultMap="BaseResultMap"
    parameterType="com.hengtianyi.dims.service.dto.QueryDto">
    select
    p."ID" , p."USER_ID" , p."ROLE_ID" ,p."CONTENT", p."CREATE_TIME" , p."STATE" ,
    s."USER_NAME"
    from (select ROWNUM as "ROW_ID",
    <include refid="Base_Column_List"/>
    from (select t.* from "TASK_INFO" t
    <include refid="page_where"/>
    order by t.create_time desc)
    where ROWNUM &lt;= #{dto.end}) p
    left join "SYS_USER" s on p."USER_ID"=s."ID"
    where p."ROW_ID" &gt;= #{dto.first}
  </select>

  <select id="pagecount" resultType="java.lang.Integer"
    parameterType="com.hengtianyi.dims.service.dto.QueryDto">
    select count(1) from "TASK_INFO" t
    <include refid="page_where"/>
  </select>

  <sql id="page_where">
    <where>
      <choose>
        <when test="dto.userId != null and dto.userId != ''">
          <if test="dto.roleId == 1004 or dto.roleId == 1005">
            and (t."USER_ID" in (
            select a.id from sys_user a left join rel_user_area b on a.area_code like (b.area_code
            ||'%')
            where b.user_id= #{dto.userId,jdbcType=CHAR} and a.area_code is not null
            <if test="dto.areaCode!=null and dto.areaCode !=''">
              and a.area_code like (#{dto.areaCode,jdbcType=VARCHAR} ||'%')
            </if>
            and a.role_id &lt;1003)
            or t."USER_ID" = #{dto.userId,jdbcType=CHAR})
          </if>
          <if test="dto.roleId ==1003">
            and t."ID" in (
            select g."ID" from "TASK_INFO" g left join "TASK_FLOW" h on
            g."ID"=h."TASK_ID" where h."RECEIVE_ID" = #{dto.userId,jdbcType=CHAR}
            or h."RECEIVE_ID" in (
            select a.id from sys_user a left join rel_user_area b on a.area_code like (b.area_code
            ||'%')
            where b.user_id= #{dto.userId,jdbcType=CHAR} and a.area_code is not null
            <if test="dto.areaCode!=null and dto.areaCode !=''">
              and a.area_code like (#{dto.areaCode,jdbcType=VARCHAR} ||'%')
            </if>
            and a.role_id &lt;1003)
            or h."RECEIVE_ID" = #{dto.userId,jdbcType=CHAR})
          </if>
          <if test="dto.roleId &lt;1003">
            and t."ID" in (select g."ID" from "TASK_INFO" g left join "TASK_FLOW" h on
            g."ID"=h."TASK_ID" where h."RECEIVE_ID" = #{dto.userId,jdbcType=CHAR})
          </if>
        </when>
        <otherwise>
          <if test="dto.areaCode!=null and dto.areaCode !=''">
            and t."USER_ID" in (select a.id from sys_user a
            where a.area_code like (#{dto.areaCode,jdbcType=VARCHAR} ||'%'))
          </if>
        </otherwise>
      </choose>
      <if test="dto.state !=null or dto.state ==0">
        <choose>
          <when test="dto.state==0">
            and (t."STATE" = 0 or t."STATE" = 3)
          </when>
          <otherwise>
            and t."STATE" = #{dto.state,jdbcType=DECIMAL}
          </otherwise>
        </choose>
      </if>
      <if test="dto.startTime!=null and dto.startTime !=''">
        and t."CREATE_TIME" >= to_date(#{dto.startTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
      </if>
      <if test="dto.endTime!=null and dto.endTime !=''">
        and t."CREATE_TIME" &lt; to_date(#{dto.endTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
      </if>
    </where>
  </sql>

  <select id="getEchartsData" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    t."ID" , t."ROLE_ID" , t."STATE"
    from "TASK_INFO" t
    where 1=1
    <choose>
      <when test="endTime!=null and endTime!=''">
        and t."CREATE_TIME" >= to_date(#{startTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
        and t."CREATE_TIME" &lt; to_date(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
      </when>
      <otherwise>
        and t."CREATE_TIME" &lt; sysdate
      </otherwise>
    </choose>
    <if test="areaCode!=null and areaCode!=''">
      and t."USER_ID" in (select a.id from sys_user a where a.area_code like
      (#{areaCode,jdbcType=VARCHAR} ||'%'))
    </if>
  </select>
</mapper>
